* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.principal {
    margin: 0;
}

    /* TOGGLE SWITCH DAR/LIGHT MODE */

.fa-regular {
    color: #dddddd;
    font-size: 1.2rem;
}
.theme-icon {
    margin-right: .5rem;
}
.theme-icon-white {
    color: #dddddd;
}
.theme-icon-black {
    color: #3c3c3c;
}
.desaparecer {
    position: absolute;
    display: none;
}

.theme-switch-wrapper {
    justify-content: flex-end;
    margin-top: .8rem;
    margin-right: .8rem;
    display: flex;
    align-items: center;
}
    
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
    
.theme-switch input {
    display:none;
}
    
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
    
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
    
input:checked + .slider {
    background-color: #66bb6a;
}
    
input:checked + .slider:before {
    transform: translateX(26px);
}
    
.slider.round {
    border-radius: 34px;
}
    
.slider.round:before {
    border-radius: 50%;
}
    


.titulo {
    text-align: center;
    margin-top: 2rem;
}


form {
    margin-top: 4rem;
}

.formulario {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: center;
    width: 90%;
}

.formulario2 {
    margin-top: 2rem;
}

#contenedor2 {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#BtnSubmit {
    padding: 0;
    font-weight: 500;
    margin: 1rem;
    border-color: #35373d;
    background-color: #4bb543;
    color: #35373d;
    text-align: center;
    align-self: center;
    width: 12.5rem;
    height: 3.75rem;
}

#ultimaConversion {
    margin-top: 6rem;
}


.clima {
    padding: 1.2rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #dddddd;
    width: 99%;
    height: 11rem;
    border-radius: 2%;
}

th {
    padding: .375rem;
    text-align: center;
}

td {
    max-width: 5rem;
    padding: .375rem;
    text-align: center;
}



.icon {
    width: 120px;
}

.box_0 {
    display: flex;
    flex-basis: 35%;
    flex-direction: column;
    justify-content: space-evenly;
}

.name {
    font-size: 1.5rem;
}

.box_1 {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: space-evenly;
}

.box_1 h4 {
    font-size: 2rem;
}

.box_2 {
    display: flex;
    flex-basis: 35%;
    flex-direction: column;
    justify-content: space-evenly;
}

.clima h4 {
    margin: 0;
    color: #35373d;
}

.clima h2 {
    color: #35373d;
    margin: 0;
}

.box_1 span {
    display: block;
    font-size: 0.9rem;
    color:#6c6c6c;
}

.box_2 span {
    display: block;
    font-size: 0.9rem;
    color:#6c6c6c;
}





.trash {
    display: flex;
    justify-content: center;
}
.fa-solid {
    font-size: 3.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.trash-black {
    font-size: 3.5rem;
    color: #3c3c3c;
}
.trash-white {
    font-size: 3.5rem;
    color: #dddddd;
} 

@media (min-width:1024px) {
    .clima {
        width: 70%;
        margin-left: 2.7rem;
        margin-top: 0;
        position: relative;
        top: -38px;
    }

    .formulario {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .formulario1 {
        width: 45%;
    }

    .formulario2 {
        width: 45%;
        margin-top: 0;
    }
}